@model ProductPricing.Models.SumDeduct

@{
    ViewData["Title"] = "Premium Details";
}

<h2>Product Details</h2>
<!--
<form asp-action="Index" method="get">
    <div class="form-actions no-color">
        <p>
            Find by Product,Plan or Type : <input type="text" name="SearchString" value="@ViewData["currentFilter"]" />
            <input type="submit" value="Search" class="btn btn-default" /> |
            <a asp-action="Index">Back to List</a>
        </p>
    </div>
</form>
-->
<table class="table">
    <thead>
        <tr>
            <th>Premium Id</th>
            <th>Age</th>
            <th>Premium</th>
            <!--<th> </th>-->
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Premium)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.PremiumId)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Age)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Premium1)
                </td>
                <!--
                <td>
                    <a asp-action="PremiumRecord" asp-route-id="@item.PremiumId" >PremiumRecord</a>
                </td>
                -->
             </tr>       
        }
    </tbody>
</table>
<div>
    <a asp-action="Index">Back to Sum Premium List</a>
</div>
